.header{
    background-color:  #7F7FFF;
}

h1{
    text-align: center;
    font-size: 55px;
    margin-bottom: 35px;
}

button{
    display: block;
  margin: auto;
  padding: 15px;
  border-radius: 12px;
  border: none;
  margin-bottom: 12px;
}

.buttons-container{
    display: flex;
}
